---
Title: Cake.Http
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.Http is set of aliases for Cake that help simplify HTTP calls for GET, POST, PUT, DELETE, PATCH, etc.
    </p>
</div>